<a href="https://colab.research.google.com/github/chris051091/Seminario-3/blob/master/Analysis/Eventos_Estaciones/Analisis_Eventos_Palanquero_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import io
from datetime import timedelta

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
PATH_DRIVE = 'drive/MyDrive/Seminario-3-master'
PATH_DADOS_EVENTOS = '/dados/'
FILE_DATOS_ESTACION = 'eventos_palanquero_2.csv'

PATH_DADOS_PREPROCESS = '/preprocess/dados/palanquero/tratados/'
FILE_TEMP = 'palanquero_tratados_temp.csv'
FILE_HUM = 'palanquero_tratados_hum.csv'
FILE_PRES = 'palanquero_tratados_pres.csv'
FILE_PREC = 'palanquero_tratados_prec.csv'
FILE_VIENTO = 'palanquero_tratados_viento.csv'

# **Cargando eventos**

In [ ]:
dfEventos = pd.read_csv(PATH_DRIVE + PATH_DADOS_EVENTOS + FILE_DATOS_ESTACION, 
                 sep = ';'
                )
dfEventos = dfEventos.sort_values(by='date_min_t').reset_index(drop = True)
dfEventos['FECHA'] = pd.to_datetime(dfEventos['date_min_t'], format='%Y %m %d %H %M').dt.tz_localize('America/Bogota')
dfEventos['FECHA_MIN'] = dfEventos['FECHA'].dt.round('10min')  
dfEventos['FECHA'] = dfEventos['FECHA'].dt.round('H')
dfEventos = dfEventos[['FECHA', 'FECHA_MIN', 'min_t', 'lon_t', 'lat_t']]
dfEventos

                       FECHA                 FECHA_MIN  min_t   lon_t  lat_t
0  2011-01-27 23:00:00-05:00 2011-01-27 23:20:00-05:00  224.2 -74.693  5.627
1  2011-04-09 23:00:00-05:00 2011-04-09 22:40:00-05:00  197.0 -74.693  5.627
2  2011-05-13 22:00:00-05:00 2011-05-13 22:20:00-05:00  187.8 -74.693  5.627
3  2011-06-06 22:00:00-05:00 2011-06-06 22:20:00-05:00  198.5 -74.693  5.484
4  2011-11-03 02:00:00-05:00 2011-11-03 02:20:00-05:00  191.9 -74.693  5.484
5  2011-11-06 03:00:00-05:00 2011-11-06 02:40:00-05:00  196.4 -74.693  5.627
6  2011-11-28 05:00:00-05:00 2011-11-28 04:40:00-05:00  227.3 -74.693  5.341
7  2011-12-11 03:00:00-05:00 2011-12-11 02:40:00-05:00  199.3 -74.693  5.484
8  2012-03-16 23:00:00-05:00 2012-03-16 22:40:00-05:00  193.6 -74.693  5.484
9  2012-03-20 23:00:00-05:00 2012-03-20 23:20:00-05:00  196.1 -74.693  5.627
10 2012-03-26 05:00:00-05:00 2012-03-26 04:40:00-05:00  217.9 -74.693  5.627
11 2012-04-18 05:00:00-05:00 2012-04-18 04:40:00-05:00  215.5 -74.693  5.627
12 2012-04-20 22:00:00-05:00 2012-04-20 22:20:00-05:00  190.3 -74.693  5.627
13 2012-09-11 05:00:00-05:00 2012-09-11 04:40:00-05:00  217.9 -74.693  5.484
14 2012-10-30 01:00:00-05:00 2012-10-30 00:40:00-05:00  190.0 -74.693  5.627
15 2013-02-20 00:00:00-05:00 2013-02-19 23:40:00-05:00  196.2 -74.693  5.627
16 2013-07-03 00:00:00-05:00 2013-07-03 00:20:00-05:00  226.3 -74.693  5.627
17 2013-07-05 01:00:00-05:00 2013-07-05 01:20:00-05:00  226.0 -74.693  5.484
18 2013-07-05 04:00:00-05:00 2013-07-05 03:40:00-05:00  203.8 -74.693  5.627
19 2013-07-08 22:00:00-05:00 2013-07-08 21:40:00-05:00  198.5 -74.693  5.627
20 2013-10-12 23:00:00-05:00 2013-10-12 23:20:00-05:00  189.4 -74.693  5.627
21 2013-10-20 22:00:00-05:00 2013-10-20 21:40:00-05:00  196.6 -74.693  5.341
22 2013-11-11 00:00:00-05:00 2013-11-11 00:20:00-05:00  212.0 -74.693  5.484
23 2013-11-11 01:00:00-05:00 2013-11-11 00:40:00-05:00  208.5 -74.693  5.484
24 2013-11-29 23:00:00-05:00 2013-11-29 23:20:00-05:00  205.4 -74.693  5.627
25 2014-03-13 00:00:00-05:00 2014-03-12 23:40:00-05:00  209.7 -74.693  5.341
26 2014-04-06 03:00:00-05:00 2014-04-06 02:40:00-05:00  198.8 -74.693  5.341
27 2014-04-28 06:00:00-05:00 2014-04-28 05:40:00-05:00  200.7 -74.693  5.627
28 2014-06-27 22:00:00-05:00 2014-06-27 22:20:00-05:00  212.9 -74.693  5.341
29 2014-09-17 23:00:00-05:00 2014-09-17 22:40:00-05:00  195.0 -74.693  5.341
30 2014-09-25 21:00:00-05:00 2014-09-25 21:20:00-05:00  197.5 -74.693  5.341
31 2014-10-19 01:00:00-05:00 2014-10-19 00:40:00-05:00  196.3 -74.693  5.484
32 2014-12-08 00:00:00-05:00 2014-12-07 23:40:00-05:00  219.2 -74.693  5.484
33 2015-04-01 01:00:00-05:00 2015-04-01 01:20:00-05:00  192.5 -74.693  5.341
34 2015-04-19 20:00:00-05:00 2015-04-19 20:20:00-05:00  206.2 -74.693  5.484
35 2015-06-17 02:00:00-05:00 2015-06-17 02:20:00-05:00  228.7 -74.693  5.341
36 2015-08-23 01:00:00-05:00 2015-08-23 01:20:00-05:00  201.0 -74.693  5.484
37 2015-10-23 01:00:00-05:00 2015-10-23 00:40:00-05:00  199.3 -74.693  5.484
38 2015-11-16 00:00:00-05:00 2015-11-15 23:40:00-05:00  197.5 -74.693  5.627
39 2015-12-07 03:00:00-05:00 2015-12-07 03:20:00-05:00  208.1 -74.693  5.627
40 2016-02-10 22:00:00-05:00 2016-02-10 21:40:00-05:00  205.7 -74.693  5.341
41 2016-02-13 05:00:00-05:00 2016-02-13 05:20:00-05:00  229.0 -74.693  5.341
42 2016-04-01 00:00:00-05:00 2016-03-31 23:40:00-05:00  208.7 -74.693  5.627
43 2016-05-28 00:00:00-05:00 2016-05-27 23:40:00-05:00  191.2 -74.693  5.341
44 2016-09-28 21:00:00-05:00 2016-09-28 21:20:00-05:00  226.1 -74.693  5.484
45 2017-01-04 00:00:00-05:00 2017-01-03 23:40:00-05:00  207.7 -74.693  5.341
46 2017-05-14 03:00:00-05:00 2017-05-14 03:20:00-05:00  203.1 -74.693  5.627
47 2017-07-16 20:00:00-05:00 2017-07-16 20:20:00-05:00  196.2 -74.693  5.484
48 2017-11-10 23:00:00-05:00 2017-11-10 22:40:00-05:00  220.9 -74.693  5.341
49 2017-11-10 23:00:00-05:00 2017-11-10 23:20:00-05:00  208.2 -74.693  5.484
50 2017-11-14 01:00:00-05:00 2017-11-14 00:40:00-05:00  196.1 -74.693  5.627

In [ ]:
FILES = [FILE_PRES, FILE_HUM, FILE_TEMP]
df = dfEventos.copy()

for FILE in FILES :
  
  dfVar = pd.read_csv(PATH_DRIVE + PATH_DADOS_PREPROCESS + FILE, 
                 sep = ';', 
                 parse_dates = ["FECHA"],
                 date_parser = lambda col: pd.to_datetime(col)
                )
  
  df = pd.merge(df, dfVar, on=['FECHA'], how = 'left')
  df['FECHA'] = pd.to_datetime(df["FECHA"])

In [ ]:
VARS = ['TEMP', 'PRESION', 'HUM']

for VAR in VARS:
  df[f'{VAR}_MEAN'] = df[VAR].mean()

df

                       FECHA                 FECHA_MIN  ...  PRESION_MEAN   HUM_MEAN
0  2011-01-27 23:00:00-05:00 2011-01-27 23:20:00-05:00  ...    989.883333  90.192308
1  2011-04-09 23:00:00-05:00 2011-04-09 22:40:00-05:00  ...    989.883333  90.192308
2  2011-05-13 22:00:00-05:00 2011-05-13 22:20:00-05:00  ...    989.883333  90.192308
3  2011-06-06 22:00:00-05:00 2011-06-06 22:20:00-05:00  ...    989.883333  90.192308
4  2011-11-03 02:00:00-05:00 2011-11-03 02:20:00-05:00  ...    989.883333  90.192308
5  2011-11-06 03:00:00-05:00 2011-11-06 02:40:00-05:00  ...    989.883333  90.192308
6  2011-11-28 05:00:00-05:00 2011-11-28 04:40:00-05:00  ...    989.883333  90.192308
7  2011-12-11 03:00:00-05:00 2011-12-11 02:40:00-05:00  ...    989.883333  90.192308
8  2012-03-16 23:00:00-05:00 2012-03-16 22:40:00-05:00  ...    989.883333  90.192308
9  2012-03-20 23:00:00-05:00 2012-03-20 23:20:00-05:00  ...    989.883333  90.192308
10 2012-03-26 05:00:00-05:00 2012-03-26 04:40:00-05:00  ...    989.883333  90.192308
11 2012-04-18 05:00:00-05:00 2012-04-18 04:40:00-05:00  ...    989.883333  90.192308
12 2012-04-20 22:00:00-05:00 2012-04-20 22:20:00-05:00  ...    989.883333  90.192308
13 2012-09-11 05:00:00-05:00 2012-09-11 04:40:00-05:00  ...    989.883333  90.192308
14 2012-10-30 01:00:00-05:00 2012-10-30 00:40:00-05:00  ...    989.883333  90.192308
15 2013-02-20 00:00:00-05:00 2013-02-19 23:40:00-05:00  ...    989.883333  90.192308
16 2013-07-03 00:00:00-05:00 2013-07-03 00:20:00-05:00  ...    989.883333  90.192308
17 2013-07-05 01:00:00-05:00 2013-07-05 01:20:00-05:00  ...    989.883333  90.192308
18 2013-07-05 04:00:00-05:00 2013-07-05 03:40:00-05:00  ...    989.883333  90.192308
19 2013-07-08 22:00:00-05:00 2013-07-08 21:40:00-05:00  ...    989.883333  90.192308
20 2013-10-12 23:00:00-05:00 2013-10-12 23:20:00-05:00  ...    989.883333  90.192308
21 2013-10-20 22:00:00-05:00 2013-10-20 21:40:00-05:00  ...    989.883333  90.192308
22 2013-11-11 00:00:00-05:00 2013-11-11 00:20:00-05:00  ...    989.883333  90.192308
23 2013-11-11 01:00:00-05:00 2013-11-11 00:40:00-05:00  ...    989.883333  90.192308
24 2013-11-29 23:00:00-05:00 2013-11-29 23:20:00-05:00  ...    989.883333  90.192308
25 2014-03-13 00:00:00-05:00 2014-03-12 23:40:00-05:00  ...    989.883333  90.192308
26 2014-04-06 03:00:00-05:00 2014-04-06 02:40:00-05:00  ...    989.883333  90.192308
27 2014-04-28 06:00:00-05:00 2014-04-28 05:40:00-05:00  ...    989.883333  90.192308
28 2014-06-27 22:00:00-05:00 2014-06-27 22:20:00-05:00  ...    989.883333  90.192308
29 2014-09-17 23:00:00-05:00 2014-09-17 22:40:00-05:00  ...    989.883333  90.192308
30 2014-09-25 21:00:00-05:00 2014-09-25 21:20:00-05:00  ...    989.883333  90.192308
31 2014-10-19 01:00:00-05:00 2014-10-19 00:40:00-05:00  ...    989.883333  90.192308
32 2014-12-08 00:00:00-05:00 2014-12-07 23:40:00-05:00  ...    989.883333  90.192308
33 2015-04-01 01:00:00-05:00 2015-04-01 01:20:00-05:00  ...    989.883333  90.192308
34 2015-04-19 20:00:00-05:00 2015-04-19 20:20:00-05:00  ...    989.883333  90.192308
35 2015-06-17 02:00:00-05:00 2015-06-17 02:20:00-05:00  ...    989.883333  90.192308
36 2015-08-23 01:00:00-05:00 2015-08-23 01:20:00-05:00  ...    989.883333  90.192308
37 2015-10-23 01:00:00-05:00 2015-10-23 00:40:00-05:00  ...    989.883333  90.192308
38 2015-11-16 00:00:00-05:00 2015-11-15 23:40:00-05:00  ...    989.883333  90.192308
39 2015-12-07 03:00:00-05:00 2015-12-07 03:20:00-05:00  ...    989.883333  90.192308
40 2016-02-10 22:00:00-05:00 2016-02-10 21:40:00-05:00  ...    989.883333  90.192308
41 2016-02-13 05:00:00-05:00 2016-02-13 05:20:00-05:00  ...    989.883333  90.192308
42 2016-04-01 00:00:00-05:00 2016-03-31 23:40:00-05:00  ...    989.883333  90.192308
43 2016-05-28 00:00:00-05:00 2016-05-27 23:40:00-05:00  ...    989.883333  90.192308
44 2016-09-28 21:00:00-05:00 2016-09-28 21:20:00-05:00  ...    989.883333  90.192308
45 2017-01-04 00:00:00-05:00 2017-01-03 23:40:00-05:00  ...    989.883333  90.192308
46 2017-05-14 03:00:00-05:00 2017-05-14 03:20:00-05:00  ...    989.883333  90.192308
47 2017-07-16 20:00:00-05:00 2017-07-16 20:20:00-05:00  ...    989.883333  90.192308
48 2017-11-10 23:00:00-05:00 2017-11-10 22:40:00-05:00  ...    989.883333  90.192308
49 2017-11-10 23:00:00-05:00 2017-11-10 23:20:00-05:00  ...    989.883333  90.192308
50 2017-11-14 01:00:00-05:00 2017-11-14 00:40:00-05:00  ...    989.883333  90.192308

[51 rows x 11 columns]

In [ ]:
FILES = [FILE_PREC, FILE_VIENTO]

df10Min = dfEventos.copy()
for FILE in FILES :
  
  dfVar = (pd.read_csv(PATH_DRIVE + PATH_DADOS_PREPROCESS + FILE, 
                 sep = ';', 
                 parse_dates = ["FECHA"],
                 date_parser = lambda col: pd.to_datetime(col)
                ).rename(columns = {'FECHA' : 'FECHA_MIN'})
          )
  
  df10Min = pd.merge(df10Min, dfVar, on=['FECHA_MIN'], how = 'left')
  df10Min['FECHA_MIN'] = pd.to_datetime(df["FECHA_MIN"])

In [ ]:
df10Min

                       FECHA                 FECHA_MIN  ...  DIRECVIENTO  VELVIENTO
0  2011-01-27 23:00:00-05:00 2011-01-27 23:20:00-05:00  ...          1.0        0.1
1  2011-04-09 23:00:00-05:00 2011-04-09 22:40:00-05:00  ...        149.0        0.3
2  2011-05-13 22:00:00-05:00 2011-05-13 22:20:00-05:00  ...         82.0        0.2
3  2011-06-06 22:00:00-05:00 2011-06-06 22:20:00-05:00  ...          NaN        NaN
4  2011-11-03 02:00:00-05:00 2011-11-03 02:20:00-05:00  ...          NaN        NaN
5  2011-11-06 03:00:00-05:00 2011-11-06 02:40:00-05:00  ...          NaN        NaN
6  2011-11-28 05:00:00-05:00 2011-11-28 04:40:00-05:00  ...          NaN        NaN
7  2011-12-11 03:00:00-05:00 2011-12-11 02:40:00-05:00  ...          NaN        NaN
8  2012-03-16 23:00:00-05:00 2012-03-16 22:40:00-05:00  ...          NaN        NaN
9  2012-03-20 23:00:00-05:00 2012-03-20 23:20:00-05:00  ...          NaN        NaN
10 2012-03-26 05:00:00-05:00 2012-03-26 04:40:00-05:00  ...          NaN        NaN
11 2012-04-18 05:00:00-05:00 2012-04-18 04:40:00-05:00  ...          NaN        NaN
12 2012-04-20 22:00:00-05:00 2012-04-20 22:20:00-05:00  ...          NaN        NaN
13 2012-09-11 05:00:00-05:00 2012-09-11 04:40:00-05:00  ...          NaN        NaN
14 2012-10-30 01:00:00-05:00 2012-10-30 00:40:00-05:00  ...         74.0        0.3
15 2013-02-20 00:00:00-05:00 2013-02-19 23:40:00-05:00  ...          NaN        NaN
16 2013-07-03 00:00:00-05:00 2013-07-03 00:20:00-05:00  ...          5.0        0.2
17 2013-07-05 01:00:00-05:00 2013-07-05 01:20:00-05:00  ...         56.0        0.2
18 2013-07-05 04:00:00-05:00 2013-07-05 03:40:00-05:00  ...         60.0        0.3
19 2013-07-08 22:00:00-05:00 2013-07-08 21:40:00-05:00  ...         22.0        0.4
20 2013-10-12 23:00:00-05:00 2013-10-12 23:20:00-05:00  ...         37.0        0.2
21 2013-10-20 22:00:00-05:00 2013-10-20 21:40:00-05:00  ...        131.0        0.4
22 2013-11-11 00:00:00-05:00 2013-11-11 00:20:00-05:00  ...        251.0        0.5
23 2013-11-11 01:00:00-05:00 2013-11-11 00:40:00-05:00  ...        104.0        0.3
24 2013-11-29 23:00:00-05:00 2013-11-29 23:20:00-05:00  ...        116.0        0.2
25 2014-03-13 00:00:00-05:00 2014-03-12 23:40:00-05:00  ...          1.0        0.1
26 2014-04-06 03:00:00-05:00 2014-04-06 02:40:00-05:00  ...        203.0        0.3
27 2014-04-28 06:00:00-05:00 2014-04-28 05:40:00-05:00  ...          NaN        NaN
28 2014-06-27 22:00:00-05:00 2014-06-27 22:20:00-05:00  ...          1.0        0.1
29 2014-09-17 23:00:00-05:00 2014-09-17 22:40:00-05:00  ...          NaN        NaN
30 2014-09-25 21:00:00-05:00 2014-09-25 21:20:00-05:00  ...         32.0        0.1
31 2014-10-19 01:00:00-05:00 2014-10-19 00:40:00-05:00  ...         98.0        0.2
32 2014-12-08 00:00:00-05:00 2014-12-07 23:40:00-05:00  ...         30.0        0.7
33 2015-04-01 01:00:00-05:00 2015-04-01 01:20:00-05:00  ...        220.0        1.6
34 2015-04-19 20:00:00-05:00 2015-04-19 20:20:00-05:00  ...        131.0        8.1
35 2015-06-17 02:00:00-05:00 2015-06-17 02:20:00-05:00  ...          4.0        0.6
36 2015-08-23 01:00:00-05:00 2015-08-23 01:20:00-05:00  ...          NaN        NaN
37 2015-10-23 01:00:00-05:00 2015-10-23 00:40:00-05:00  ...        151.0        3.1
38 2015-11-16 00:00:00-05:00 2015-11-15 23:40:00-05:00  ...        309.0        1.2
39 2015-12-07 03:00:00-05:00 2015-12-07 03:20:00-05:00  ...        192.0        0.9
40 2016-02-10 22:00:00-05:00 2016-02-10 21:40:00-05:00  ...        181.0        2.4
41 2016-02-13 05:00:00-05:00 2016-02-13 05:20:00-05:00  ...        279.0        0.5
42 2016-04-01 00:00:00-05:00 2016-03-31 23:40:00-05:00  ...        165.0        0.7
43 2016-05-28 00:00:00-05:00 2016-05-27 23:40:00-05:00  ...          NaN        NaN
44 2016-09-28 21:00:00-05:00 2016-09-28 21:20:00-05:00  ...          NaN        NaN
45 2017-01-04 00:00:00-05:00 2017-01-03 23:40:00-05:00  ...         10.0        1.0
46 2017-05-14 03:00:00-05:00 2017-05-14 03:20:00-05:00  ...          NaN        NaN
47 2017-07-16 20:00:00-05:00 2017-07-16 20:20:00-05:00  ...          NaN        NaN
48 2017-11-10 23:00:00-05:00 2017-11-10 22:40:00-05:00  ...        358.0        1.3
49 2017-11-10 23:00:00-05:00 2017-11-10 23:20:00-05:00  ...        354.0        1.3
50 2017-11-14 01:00:00-05:00 2017-11-14 00:40:00-05:00  ...        322.0        1.0

[51 rows x 8 columns]

In [ ]:
funtime = lambda x, hour : [x - timedelta(hours = h) for h in (range(0, hour+1) if hour > 0 else range(hour, 0))]

# [base - datetime.timedelta(days=x) for x in range(numdays)]
dfEventAn = dfEventos.copy()
pd.set_option('display.max_colwidth', None)
dfEventAn['FECHA_ANTES'] = dfEventAn['FECHA'].apply(funtime, hour = 6)
dfEventAn['FECHA_DESPUES'] = dfEventAn['FECHA'].apply(funtime, hour = -6)
dfEventAn['FECHA_INTERVALO'] = dfEventAn['FECHA_ANTES'] + dfEventAn['FECHA_DESPUES']
dfEventAn = dfEventAn.drop(columns=['FECHA_ANTES', 'FECHA_DESPUES']).explode('FECHA_INTERVALO')
dfEventAn['FECHA_POS'] = (dfEventAn['FECHA_INTERVALO'] - dfEventAn['FECHA'])/ pd.Timedelta(hours=1)
dfEventAn = dfEventAn.rename(columns={'FECHA' : 'FECHA_EVENTO', 'FECHA_INTERVALO': 'FECHA'})


dfEventAn.head(15)

               FECHA_EVENTO  ... FECHA_POS
0 2011-01-27 23:00:00-05:00  ...       0.0
0 2011-01-27 23:00:00-05:00  ...      -1.0
0 2011-01-27 23:00:00-05:00  ...      -2.0
0 2011-01-27 23:00:00-05:00  ...      -3.0
0 2011-01-27 23:00:00-05:00  ...      -4.0
0 2011-01-27 23:00:00-05:00  ...      -5.0
0 2011-01-27 23:00:00-05:00  ...      -6.0
0 2011-01-27 23:00:00-05:00  ...       6.0
0 2011-01-27 23:00:00-05:00  ...       5.0
0 2011-01-27 23:00:00-05:00  ...       4.0
0 2011-01-27 23:00:00-05:00  ...       3.0
0 2011-01-27 23:00:00-05:00  ...       2.0
0 2011-01-27 23:00:00-05:00  ...       1.0
1 2011-04-09 23:00:00-05:00  ...       0.0
1 2011-04-09 23:00:00-05:00  ...      -1.0

[15 rows x 7 columns]

In [ ]:
FILES = [FILE_PRES, FILE_HUM, FILE_TEMP]
dfCross = dfEventAn.copy()

for FILE in FILES :
  
  dfVar = pd.read_csv(PATH_DRIVE + PATH_DADOS_PREPROCESS + FILE, 
                 sep = ';', 
                 parse_dates = ["FECHA"],
                 date_parser = lambda col: pd.to_datetime(col)
                )
  
  dfCross = pd.merge(dfCross, dfVar, on=['FECHA'], how = 'left')
  dfCross['FECHA'] = pd.to_datetime(dfCross["FECHA"])

VARS = ['TEMP', 'PRESION', 'HUM']
dfVars = pd.DataFrame()

for VAR in VARS:
  dfVars[f'{VAR}_MEAN'] = dfCross.groupby('FECHA_POS')[VAR].mean()

dfVars = dfVars.reset_index()

## Estamos colocando los promedios de los 16 eventos, considerando 6 horas antes y despus
dfVars.head(15)

    FECHA_POS  TEMP_MEAN  PRESION_MEAN   HUM_MEAN
0        -6.0  29.397368    986.534211  74.862069
1        -5.0  28.069444    987.210526  79.481481
2        -4.0  27.140541    987.829730  84.000000
3        -3.0  26.433333    988.616667  86.923077
4        -2.0  25.885714    989.222222  90.185185
5        -1.0  25.424324    989.521622  91.037037
6         0.0  24.738889    989.883333  90.192308
7         1.0  23.889189    990.121622  92.142857
8         2.0  23.655556    989.952778  92.185185
9         3.0  23.655882    989.857143  92.592593
10        4.0  23.511429    990.072222  92.607143
11        5.0  23.791667    990.405405  90.785714
12        6.0  24.502703    990.664865  87.392857